{% extends 'Basic/nav.html' %}

{% load static %}
{% block cssfile %}{% static 'History/index.css' %}{% endblock cssfile %}

{% block body %}

<!-- <div>
    <h1>History</h1>
    <a id="newrecbtn" href="/newrecord" class="btn btn-dark btn-lg" >Add new record</a>
</div> -->

<div style="display: flex; flex-direction: row; justify-content: center; margin-top:50px">
    <div>
        <h1 style="text-align: center; margin-top: 30px;">History</h1>
    </div>
    <div>
        <a class="btn btn-lg btn-dark btn-block" href="/history/newrecord" type="submit"
            style="margin-top: 30px; margin-left: 40px;">Add new record</a>
    </div>
</div>

<br>
<br>
<br>

<div style="width: 1400px; margin: 0 auto;">
    <form action="/history/" method="GET">

        <!-- Disease Name filter -->
        <label for="disease_name_filter">Disease Name</label>
        <input type="text" name="disease_name_filter" id="disease_name_filter" placeholder="Type the name of the disease">
    
        <!-- Date filter -->
        <label for="date_filter">Date</label>
        <select name="date" id="date">
            <option value="" selected disabled hidden>Choose before/after</option>
            <option value="before">Before</option>
            <option value="after">After</option>
        </select>
        <input type="date" name="date_filter" id="date_filter" placeholder="Date">
    
        <!-- Medicine Name filter -->
        <label for="medicine_name_filter">Medicine Name</label>
        <input type="text" name="medicine_name_filter" id="medicine_name_filter" placeholder="Type the name of the medicine">
    
        <!-- Outcome filter -->
        <label for="outcome_filter">Outcome</label>
        <select name="outcome" id="outcome_filter">
            <option value="" selected disabled hidden>Choose the outcome</option>
            <option value="Positive">Positive</option>
            <option value="Negative">Negative</option>
        </select>
    
    
        <button type="submit" class="btn btn-dark">Search</button>
    </form>

</div>

<a href="/history/" name="clear_filters" class="btn btn-dark" style="margin-left: 50px; margin-top: 30px;">Clear all filters</a>


<table class="styled-table">

    <thead>
        <tr>
            <th>Infection</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Medicine</th>
            <th>Outcome</th>
        </tr>
    </thead>

    <tbody>
        {% for item in history_qs %}
        <tr>
            <td>{{item.infection}}</td>
            <td>{{item.start_date}}</td>
            <td>{{item.end_date}}</td>
            <td>{{item.medicine}}</td>
            <td class="{{item.outcome}}">{{item.outcome}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<br>
<br>
<br>

{% endblock body %}