{% extends 'Basic/nav.html' %}

{% load static %}
{% block cssfile %}{% static 'History/index.css' %}{% endblock cssfile %}

{% block body %}

<!-- <div>
    <h1>History</h1>
    <a id="newrecbtn" href="/newrecord" class="btn btn-dark btn-lg" >Add new record</a>
</div> -->

<div style="display: flex; flex-direction: row; justify-content: center; margin-top:50px">
    <div>
        <h1 style="text-align: center; margin-top: 30px;">Summary</h1>
    </div>
</div>

<br>
<br>
<br>

<div style="width: 1400px; margin: 0 auto;">
    <form action="/summary/generateReport/" method="GET">

        <!-- Disease Name filter -->
        <label for="disease_name_filter">Infection Name</label>
        <input type="text" name="disease_name_filter" id="disease_name_filter" placeholder="Type the name of the infection" style="width: 230px;">
    
        <!-- Date filter -->
        <label for="date_filter">Date</label>
        <select name="date" id="date">
            <option value="" selected disabled hidden>Choose before/after</option>
            <option value="before">Before</option>
            <option value="after">After</option>
        </select>
        <input type="date" name="date_filter" id="date_filter" placeholder="Date">
    
        <!-- Medicine Name filter -->
        <label for="medicine_name_filter">Medicine Name</label>
        <input type="text" name="medicine_name_filter" id="medicine_name_filter" placeholder="Type the name of the medicine" style="width: 240px;">
    
        <!-- Outcome filter -->
        <label for="outcome_filter">Outcome</label>
        <select name="outcome" id="outcome_filter">
            <option value="" selected disabled hidden>Choose the outcome</option>
            <option value="Positive">Positive</option>
            <option value="Negative">Negative</option>
        </select>
        <button type="submit" class="btn btn-success" style="margin-top:20px; " onclick="return confirm('Do you want to download the report?');">Generate Report</button>
    </form>

</div>


<table class="styled-table" style="width: 58%;">

    <thead>
        <tr>
            <th>Infection</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
            <th>Medicine</th>
            <th>Outcome</th>
        </tr>
    </thead>

    <tbody>
        {% for item in history_qs %}
        <tr>
            <td>{{item.infection}}</td>
            <td>{{item.start_date}}</td>
            <td>{{item.end_date}}</td>
            <td>{{item.duration}}</td>
            <td>{{item.medicine}}</td>
            <td class="{{item.outcome}}">{{item.outcome}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<br>
<br>
<br>

<form action="/summary/" method="GET" name="yearly_table" style="margin-left: 350px;">
    <label for="year">Choose Year:</label>
    <input name="year" type="number" min="1900" max="2099" step="1" value="2018" />
    <button type="submit" class="btn btn-sm btn-success" name="gentable">Generate table</button>
</form>

<h2 style="text-align: center;">Yearly Statistics Table</h2>
<div style="width: 600px; margin: 40px auto;">
    <table style="width: 80%; margin-left: 40px;">
        <thead>
            <tr>
                <th style="border:1px solid grey">Month</th>
                <th style="border:1px solid grey">Infections</th>
            </tr>
        </thead>
    
        <tbody>
            {% for item,value in summaryDict.items %}
            <tr>
                <td style="border:1px solid grey">{{item}}</td>
                <td style="border:1px solid grey; width: 90%;">{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock body %}