{% extends 'Basic/nav.html' %}

{% block title %}Dashboard{% endblock title %}

{% load static%}

{% block cssfile %}{% static 'Dashboard/index.css' %}{% endblock cssfile %}

{% block body %}
<div class="container">
    <h1 style="text-align: center;">Hey, {{name}}!! 👋</h1> 
    <div id="buttongrp">
        <div style="flex-direction: row;">
            <a id="histbtn" href="/history" class="btn btn-dark btn-lg" >Check your history</a>
            <a id="schedbtn" href="/schedule" class="btn btn-dark btn-lg" >Create a medicine schedule</a>
        </div>
    </div>    
</div>
{% endblock body %}
